/* empty css file  */

body{
    color: red;
    background-color: black;
    text-decoration: wavy;
    text-shadow: 500cm;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'PressStart2P-Regular', sans-serif;
}
header{
    font-family: 'SuperMario256', sans-serif;
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');

    /* i could also add the .woff format... */

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuperMario256';
    src: url('fonts/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}