/* empty css file  */

body{
    color: red;
    background-color: black;
    text-decoration: wavy;
    text-shadow: 500cm;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'PressStart2P-Regular', sans-serif;
}
header{
    font-family: 'SuperMario256', sans-serif;
    text-align: center;
    padding-top: 3%;
    font-size: 200%;
}

section{
    font-family: 'SuperMario256', sans-serif;
    text-align: center;
    padding-top: 1%;
    font-size: 100%;

}

footer{
    font-family: 'PressStart2P-Regular', sans-serif;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    /* margin-bottom: 1%; */
    font-size: 80%;
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');

    /* i could also add the .woff format... */

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuperMario256';
    src: url('fonts/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.containers{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* this one vertically centers */
    /* height: 10; */

}

.Start-Box{
    border: 2px solid white;
    padding-left: 4%;
    padding-right: 3%; 
    /* these 2 paddings are for the box from the text */
    width: 200px;
    border-width: 10px;
    border-style: outset;
    border-radius: 50px;
    border-spacing: 50px;
    text-align: center;
    border-color: rgb(252, 1, 1);
    background-color: rgb(138, 10, 10);
}

.Start-Box p a{
    padding-right: 50px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    
    
}

.ScoreBoard {
    font-family: 'PressStart2P-Regular', sans-serif;
    text-align: center;
    padding-top: 1%;
    font-size: 80%;

}

.Level-Box{
    border: 2px solid white;
    padding-left: 10%;
    padding-right: 10%; 
    /* these 2 paddings are for the box from the text */
    width: 200px;
    border-width: 10px;
    border-style: outset;
    border-radius: 50px;
    border-spacing: 50px;
    text-align: center;
    border-color: rgb(252, 1, 1);
    background-color: rgb(138, 10, 10);
}
.Level-Box p a {
    padding-right: 50px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 50%;
}

.infoBox{
    border: 2px solid white;
    padding-left: 10%;
    padding-right: 10%; 
    /* these 2 paddings are for the box from the text */
    width: 200px;
    border-width: 10px;
    border-style: outset;
    border-radius: 50px;
    border-spacing: 50px;
    text-align: center;
    border-color: rgb(252, 1, 1);
    background-color: rgb(138, 10, 10);
    overflow:hidden; 
    /* hides the extra text */
    word-wrap: break-word;
    /* with this the text goes onto the next line */
}